<!DOCTYPE html>
<html>
    <head>
        <title>LSTM Name Classifier</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Test the LSTM Classifier with a name
            <br>
            <input type="text" name="name", placeholder="Enter a name" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>